body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    text-align: center;
}

/* Header Style */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Navbar Style */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Main Content Style */
section {
    padding: 100px 20px;
    margin-top: 60px;
}

/* Project Style */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background: #f4f4f4;;
    padding: 15px;
    margin: 10px auto;
    width: 300px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
}

.project-card h3 {
    margin: 10px 0;
}

.project-card p {
    font-size: 14px;
    color: #555;
}

.project-card .project-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    background: #333;
    border-radius: 4px;
    transition: background 0.3s;
}

.project-card .project-link:hover {
    background: #555;
}


.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

button {
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: #555;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .project-card {
        width: 95%;
    }

    form {
        width: 90%;
    }

    .projects-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply fade-in animation to sections */
section {
    animation: fadeIn 1s ease-in-out;
}

